html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header {
  text-align: center;
  padding-top: 1rem;
}

header i {
  font-size: 2rem;
  font-weight: bold;
}

header img {
  margin-bottom: 1rem;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

nav li {
  padding: 0 .5rem;
}

nav ul li a {
  color: #3783a3;
}

main section {
  padding: 1rem 1.5rem;
  text-align: center;
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
}

section {
  max-width: 30em;
  margin: 0 auto;
}

section i {
  font-size: 2rem;
}

section p {
  font-size: 1.125rem;
}

.row {
  padding: 1rem .5rem;
}

.row img {
  margin-bottom: 1rem;
}

.row i {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: .5rem;
}

.row h2 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
  padding-bottom: .5rem;
}

.row .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col {
  padding: 0 .5rem;
}

.col p {
  flex-grow: 1;
}

.col a {
  color: #3783a3;
  text-decoration: none;
  padding: .5em 1em .6em;
  border: .2rem solid rgba(55, 131, 163, .5);
  border-radius: .3rem;
  display: block;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  border-top: .2rem solid #e2e2e2;
}

@media only screen and (min-width: 38em) {

  .header-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .header-text h1 {
    grid-column: 1;
  }

  .header-text ul {
    align-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
    width: 33.3333%;
  }

}
